.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Black overlay with 50% transparency */
}

#order-btn {
  color: red;
}